<!DOCTYPE html><html lang="ru"><head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Awesome Russian It</title>
    <meta name="description" content="Awesome .NET open source &amp; community resources">
    <meta property="og:title" content="Awesome Russian It">
    <meta property="og:description" content="Awesome .NET open source &amp; community resources">
    <meta property="og:image" content="https://awesomeit.ru/assets/logo.png">
    <meta property="og:url" content="/">
    <meta name="twitter:title" content="Awesome Russian It">
    <meta name="twitter:description" content="Awesome .NET open source &amp; community resources">
    <meta name="twitter:image" content="https://awesomeit.ru/assets/logo.png">
    <meta name="twitter:card" content="summary_large_image">


    <link href="/mirror/cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" rel="stylesheet" type="text/css">
    <link href="/mirror/fonts.googleapis.com/css" rel="stylesheet" type="text/css">
    <link href="/mirror/fonts.googleapis.com/icon" rel="stylesheet">
    <link href="/mirror/cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.12.0/build/styles/default.min.css" rel="stylesheet">
    <link href="/mirror/use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet" type="text/css">
    <link href="/assets/styles.css" rel="stylesheet">

    <!-- версия для разработки, отображает полезные предупреждения в консоли -->
    <script src="/mirror/cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/mirror/cdnjs.cloudflare.com/ajax/libs/vue-router/3.0.1/vue-router.js"></script>
    <script src="/mirror/cdn.jsdelivr.net/npm/http-vue-loader@1.3.5"></script>
    <script src="/mirror/cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    <script src="/mirror/cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.5/lodash.min.js"></script>
    <script src="/mirror/cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/js/materialize.js"></script>
    <script src="/mirror/cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.12.0/build/highlight.min.js"></script>

    

    <script>
        hljs.initHighlightingOnLoad();
    </script>
</head>
<body>
    <div id="app" class="main-app">
        <!--   main menu   -->
        <!--   main menu   -->
        <appmenu></appmenu>
        <div class="main-content">
            <!--   main content for every pages   -->
            <router-view></router-view>
            
        </div>
        <!--   main footer   -->
        <appfooter></appfooter>
    </div>

    

<script type="text/javascript">
    Vue.config.debug = true;
    Vue.config.devtools = true;

    // Регистрируем vue-компоненты

    Vue.component('appcards',
        httpVueLoader('../components/appcards.vue'));

    Vue.component('appfooter',
        httpVueLoader('../components/appfooter.vue'));

    Vue.component('apploading',
        httpVueLoader('../components/apploading.vue'));

    Vue.component('appmenu',
        httpVueLoader('../components/appmenu.vue'));

    Vue.component('apppreloader',
        httpVueLoader('../components/apppreloader.vue'));

    Vue.mixin({
        methods: {
            getCard: function(cardData) {
                var link = String(cardData.link);
                if(link) {
                    if(link.startsWith('/podcasts')) {
                        return 'podcast-card';
                    }
                    if(link.startsWith('/blogs')) {
                        return 'blog-card';
                    }
                    if(link.startsWith('/channels')) {
                        return 'channel-card';
                    }
                }
                var cardType = cardData.cardType;
                if(cardType) {
                    if(cardType === "Resource") {
                        return 'resource-card';
                    }
                }
                return 'card';
            }
        }
    });

    /*********
	* components
	*********/

    // card component for contact page
    // with props
 //   Vue.component("app-cards", {
 //       props: ["contactlist"],
 //       methods: {
 //           ucfirst: function (string) {
 //               return string.charAt(0).toUpperCase() + string.slice(1);
 //           }
 //       },
 //       template: `
	//	<div class="row">
	//	<div class="col s6" v-for="cc in contactlist.results">
	//		<div class="card horizontal">
	//			<div class="card-stacked">
	//				<div class="card-content">
	//				<div class="img-profile-pic">
	//					<img :src="cc.picture.medium" alt="" class="circle responsive-img">
	//				</div>
	//				<h5>{{ ucfirst(cc.name.title) }} {{ ucfirst(cc.name.first) }} {{ ucfirst(cc.name.last) }}<br><small>#{{ cc.id.name }}{{ cc.id.value }}</small></h5>
	//				<p><i class="material-icons tiny">person</i> {{ ucfirst(cc.gender) }}</p>
	//				<p><i class="material-icons tiny">email</i> {{ cc.email }}</p>
	//				<p><i class="material-icons tiny">location_on</i> {{ ucfirst(cc.location.street) }} {{ ucfirst(cc.location.city) }} {{ ucfirst(cc.location.state) }} {{ cc.location.postcode }}</p>
	//				<p><i class="material-icons tiny">local_phone</i> {{ cc.phone }}</p>
	//				<p><i class="material-icons tiny">contact_phone</i> {{ cc.cell }}</p>
	//				</div>
	//			</div>
	//		</div>
	//	</div>
	//</div>
	//	`
 //   });

    // home page component
    const HomeComponent = {
        template: `
            <div class="page-template page-template-home">
                <div class="hero teal lighten-5">
                    <div class="hero-content container center-align">
                        <h1>Vue JS: Single Page Application</h1>
                        <h5><router-link to="https://www.linkedin.com/in/carllomerabia">https://www.linkedin.com/in/carllomerabia</router-link></h5>
                    </div>
                </div>
                <div class="container">
                    <br>
                    <ul class="collection">
                        <li class="collection-item avatar">
                            <i class="material-icons circle teal">add_a_photo</i>
                            <span class="title">Vue JS Routing</span>
                            <p>vue-resource<br>
                            Second Line
                            </p>
                            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                        </li>
                        <li class="collection-item avatar">
                            <i class="material-icons circle blue">folder</i>
                            <span class="title">Dynamic Data From API</span>
                            <p>Credits to:<br>
                            randomuser.me api
                            </p>
                            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                        </li>
                        <li class="collection-item avatar">
                            <i class="material-icons circle green">insert_chart</i>
                            <span class="title">Powered By</span>
                            <p>Materialize CSS<br>
                            materializecss.com
                            </p>
                            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                        </li>
                        <li class="collection-item avatar">
                            <i class="material-icons circle red">play_arrow</i>
                            <span class="title">Carlito here :D</span>
                            <p>Sample SPA with Vue JS<br>
                            Second Line
                            </p>
                            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                        </li>
                    </ul>
                    <div class="row">
                        <div class="col s12 m6">
                            <div class="card teal">
                                <div class="card-content white-text">
                                    <span class="card-title">Подкаст 1</span>
                                    <p>I am a very simple card. I am good at containing small bits of information.
                                    I am convenient because I require little markup to use effectively.</p>
                                </div>
                                <div class="card-action">
                                    <a href="#">This is a link</a>
                                    <a href="#">This is a link</a>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m6">
                            <div class="card blue-grey">
                                <div class="card-content white-text">
                                    <span class="card-title">Подкаст 2</span>
                                    <p>I am a very simple card. I am good at containing small bits of information.
                                    I am convenient because I require little markup to use effectively.</p>
                                </div>
                                <div class="card-action">
                                    <a href="#">This is a link</a>
                                    <a href="#">This is a link</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        `
    };

    // about page component
    const AboutComponent = {
        template: `
            <div class="page-template page-template-about">
                <div class="page-title">
                    <div class="container">
                        <h1>About Us</h1>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col s8">
                            <div class="section">
                                <h2>Section</h2>
                                <p><router-link to="https://www.linkedin.com/in/carllomerabia">https://www.linkedin.com/in/carllomerabia</router-link></p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos iste quos adipisci ipsa officia molestias! Quibusdam, temporibus odio, quos aliquam quia aliquid consequuntur officia nesciunt vel obcaecati voluptatem assumenda. Reprehenderit.</p>
                            </div>
                            <div class="divider"></div>
                            <div class="section">
                                <h2>Section</h2>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos iste quos adipisci ipsa officia molestias! Quibusdam, temporibus odio, quos aliquam quia aliquid consequuntur officia nesciunt vel obcaecati voluptatem assumenda. Reprehenderit.</p>
                            </div>
                            <div class="divider"></div>
                            <div class="section">
                                <h2>Section</h2>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos iste quos adipisci ipsa officia molestias! Quibusdam, temporibus odio, quos aliquam quia aliquid consequuntur officia nesciunt vel obcaecati voluptatem assumenda. Reprehenderit.</p>
                            </div>
                            <div class="divider"></div>
                            <div class="section">
                                <h2>Section</h2>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos iste quos adipisci ipsa officia molestias! Quibusdam, temporibus odio, quos aliquam quia aliquid consequuntur officia nesciunt vel obcaecati voluptatem assumenda. Reprehenderit.</p>
                            </div>
                        </div>
                        <div class="col s4">
                            <h3>Sidebar</h3>
                            <div class="collection">
                                <a href="#!" class="collection-item">Section Link</a>
                                <a href="#!" class="collection-item active">Section Link</a>
                                <a href="#!" class="collection-item">Section Link</a>
                                <a href="#!" class="collection-item">Section Link</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        `
    };

    // contacts page component
    const ContactsComponent = {
        data() {
            return {
                isLoading: false,
                api: {
                    url: "https://randomuser.me/api/",
                    results: 100,
                    nat: "us,dk,fr,gb"
                },
                contacts: [],
                errors: []
            };
        },
        methods: {
            fetchContacts: function () {
                this.isLoading = true;
                axios
                    .get(this.api.url, {
                        params: {
                            results: this.api.results,
                            nat: this.api.nat
                        }
                    })
                    .then(response => {
                        this.contacts = response.data;
                        this.isLoading = false;
                    })
                    .catch(error => {
                        this.errors = error;
                        this.isLoading = false;
                    });
            }
        },
        mounted: function () {
            this.fetchContacts();
        },
        template: `
            <div class="page-template page-template-contact container">
                <h1>Contacts</h1>
                <apppreloader v-if="isLoading" />
                <div v-if="_.isEmpty(contacts) === false">
                    <appcards :contactlist="contacts" />
                </div>
            </div>
        `
    };

    // 404 page component
    const PageNotFound = {
        template: `
            <div class="page-template page-template-not-found">
                <div class="page-title">
                    <div class="container">
                    <h1>Error 404</h1>
                    </div>
                </div>
                <div class="container">
                    <h2>Page Not Found :(</h2>
                </div>
            </div>
        `
    };

    /*************
    ** Routing **
    *************/
    const routes = [
        { path: "/", component: HomeComponent },
        { path: "/about", component: AboutComponent },
        { path: "/contacts", component: ContactsComponent },
        { path: "*", component: PageNotFound }
    ];
    const router = new VueRouter({
        routes
    });

    /**********************
    ** Main application **
    **********************/
    const app = new Vue({
        el: "#app",
        router
    });
</script>

</body></html>