<!DOCTYPE html>
<html lang="ru">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <title>Awesome Russian It - &#x41F;&#x440;&#x435;&#x434;&#x43B;&#x43E;&#x436;&#x438;&#x442;&#x44C; &#x411;&#x43B;&#x43E;&#x433;</title>
    <meta name="description" content="&#x420;&#x435;&#x441;&#x443;&#x440;&#x441;&#x44B; Awesome Russian IT">
    <meta property="og:title" content="Awesome Russian It - &#x41F;&#x440;&#x435;&#x434;&#x43B;&#x43E;&#x436;&#x438;&#x442;&#x44C; &#x411;&#x43B;&#x43E;&#x433;">
    <meta property="og:description" content="&#x420;&#x435;&#x441;&#x443;&#x440;&#x441;&#x44B; Awesome Russian IT">
    <meta property="og:image" content="https://awesomeit.ru/assets/logo.png">
    <meta property="og:url" content="/suggest/blog">
    <meta name="twitter:title" content="Awesome Russian It - &#x41F;&#x440;&#x435;&#x434;&#x43B;&#x43E;&#x436;&#x438;&#x442;&#x44C; &#x411;&#x43B;&#x43E;&#x433;">
    <meta name="twitter:description" content="&#x420;&#x435;&#x441;&#x443;&#x440;&#x441;&#x44B; Awesome Russian IT">
    <meta name="twitter:image" content="https://awesomeit.ru/assets/logo.png">
    <meta name="twitter:card" content="summary_large_image">




    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link href="/assets/styles.css" rel="stylesheet" />

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://unpkg.com/vuex@3.5.1"></script>
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/3.0.1/vue-router.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/http-vue-loader@1.4.2/src/httpVueLoader.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuelidate@0.7.5/dist/vuelidate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuelidate@0.7.5/dist/validators.min.js"></script>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.5/lodash.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.12.0/build/highlight.min.js"></script>

    

    <script>
        hljs.initHighlightingOnLoad();
    </script>
</head>
<body>
    <div id="app" class="main-app">
        <v-app>
            <appmenu title="Awesome Russian IT"></appmenu>
            <!--<router-view></router-view>-->
                <v-main class="main-content">
                    <suggest title="Блог" :fields="fields" url="https://github.com/unchase/awesome-russian-it/new/master/data/blogs"></suggest>


                </v-main>
            <appfooter description="Описание программы."></appfooter>
        </v-app>
    </div>

    
    <script type="text/javascript">
        Vue.mixin({
            data: function() {
                return {
                    fields: [
                        {
                            name: "Feed",
                            description: "<strong>Обязательный.</strong> A URL to the feed for the blog (the format will be auto-detected).",
                            required: true
                        },
                        {
                            name: "Title",
                            description: "Заголовок (название) блога. If a feed was provided and this is omitted, the title will be taken from the feed."
                        },
                        {
                            name: "Website",
                            description: "URL блога. If a feed was provided and this is omitted, the website will be taken from the feed."
                        },
                        {
                            name: "Image",
                            description: "A URL to an image or logo of the blog. This should be a secure <code>https</code> link."
                        },
                        {
                            name: "Description",
                            description: "Краткое описание блога. If a feed was provided and this is omitted, the description will be taken from the feed."
                        },
                        {
                            name: "Author",
                            description: "Автор блога. If a feed was provided and this is omitted, the author will be taken from the feed."
                        },
                        {
                            name: "Language",
                            description: "Язык, на котором написан блог. English will be assumed if no language is specified."
                        }
                    ]
                };
            }
        });
    </script>


<script type="text/javascript">
    Vue.config.debug = true;
    Vue.config.devtools = true;

    Vue.use(Vuex);
    Vue.use(vuelidate.default);
    var validationMixin = window.vuelidate.validationMixin;
    var required = window.validators.required;
    var minLength = window.validators.minLength;
    var maxLength = window.validators.maxLength;
    var email = window.validators.email;
    //Vue.use(VueMaterial.default);

    // Регистрируем vue-компоненты

    Vue.component('appcards',
        httpVueLoader('../../components/appcards.vue'));

    Vue.component('appfooter',
        httpVueLoader('../../components/appfooter.vue'));

    Vue.component('apploading',
        httpVueLoader('../../components/apploading.vue'));

    Vue.component('appmenu',
        httpVueLoader('../../components/appmenu.vue'));

    Vue.component('apppreloader',
        httpVueLoader('../../components/apppreloader.vue'));

    Vue.component('home',
        httpVueLoader('../../components/home.vue'));

    Vue.component('suggest',
        httpVueLoader('./suggest/suggest.vue'));

    Vue.mixin({
        methods: {
            getCard: function(cardData) {
                var link = String(cardData.link);
                if(link) {
                    if(link.startsWith('/podcasts')) {
                        return 'podcast-card';
                    }
                    if(link.startsWith('/blogs')) {
                        return 'blog-card';
                    }
                    if(link.startsWith('/channels')) {
                        return 'channel-card';
                    }
                }
                var cardType = cardData.cardType;
                if(cardType) {
                    if(cardType === "Resource") {
                        return 'resource-card';
                    }
                }
                return 'card';
            }
        }
    });

    /*********
	* components
	*********/

    // home page component
    const HomeComponent = {
        template: `
            <home></home>
        `
    };

    // about page component
    const AboutComponent = {
        template: `
            <div class="page-template page-template-about">
                <div class="page-title">
                    <div class="container">
                        <h1>О нас</h1>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col s8">
                            <div class="section">
                                <h2>Section</h2>
                                <p><router-link to="https://www.linkedin.com/in/carllomerabia">https://www.linkedin.com/in/carllomerabia</router-link></p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos iste quos adipisci ipsa officia molestias! Quibusdam, temporibus odio, quos aliquam quia aliquid consequuntur officia nesciunt vel obcaecati voluptatem assumenda. Reprehenderit.</p>
                            </div>
                            <div class="divider"></div>
                            <div class="section">
                                <h2>Section</h2>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos iste quos adipisci ipsa officia molestias! Quibusdam, temporibus odio, quos aliquam quia aliquid consequuntur officia nesciunt vel obcaecati voluptatem assumenda. Reprehenderit.</p>
                            </div>
                            <div class="divider"></div>
                            <div class="section">
                                <h2>Section</h2>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos iste quos adipisci ipsa officia molestias! Quibusdam, temporibus odio, quos aliquam quia aliquid consequuntur officia nesciunt vel obcaecati voluptatem assumenda. Reprehenderit.</p>
                            </div>
                            <div class="divider"></div>
                            <div class="section">
                                <h2>Section</h2>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos iste quos adipisci ipsa officia molestias! Quibusdam, temporibus odio, quos aliquam quia aliquid consequuntur officia nesciunt vel obcaecati voluptatem assumenda. Reprehenderit.</p>
                            </div>
                        </div>
                        <div class="col s4">
                            <h3>Sidebar</h3>
                            <div class="collection">
                                <a href="#!" class="collection-item">Section Link</a>
                                <a href="#!" class="collection-item active">Section Link</a>
                                <a href="#!" class="collection-item">Section Link</a>
                                <a href="#!" class="collection-item">Section Link</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        `
    };

    // contacts page component
    const ContactsComponent = {
        data() {
            return {
                isLoading: false,
                api: {
                    url: "https://randomuser.me/api/",
                    results: 100,
                    nat: "us,dk,fr,gb"
                },
                contacts: [],
                errors: []
            };
        },
        methods: {
            fetchContacts: function () {
                this.isLoading = true;
                axios
                    .get(this.api.url, {
                        params: {
                            results: this.api.results,
                            nat: this.api.nat
                        }
                    })
                    .then(response => {
                        this.contacts = response.data;
                        this.isLoading = false;
                    })
                    .catch(error => {
                        this.errors = error;
                        this.isLoading = false;
                    });
            }
        },
        mounted: function () {
            this.fetchContacts();
        },
        template: `
            <div class="page-template page-template-contact container">
                <h1>Contacts</h1>
                <apppreloader v-if="isLoading" />
                <div v-if="_.isEmpty(contacts) === false">
                    <appcards :contactlist="contacts" />
                </div>
            </div>
        `
    };

    // 404 page component
    const PageNotFound = {
        template: `
            <div class="page-template page-template-not-found">
                <div class="page-title">
                    <div class="container">
                    <h1>Error 404</h1>
                    </div>
                </div>
                <div class="container">
                    <h2>Page Not Found :(</h2>
                </div>
            </div>
        `
    };

    /*************
    ** Routing **
    *************/
    const routes = [
        { path: "/", component: HomeComponent },
        { path: "/about", component: AboutComponent },
        { path: "/contacts", component: ContactsComponent },
        { path: "*", component: PageNotFound }
    ];
    const router = new VueRouter({
        routes
    });

    // глобальное хранилище vuex
    const store = new Vuex.Store({
        state: {
            count: 0
        },
        mutations: {
            increment (state) {
                state.count++
            }
        }
    });

    /**********************
    ** Main application **
    **********************/
    const app = new Vue({
        el: "#app",
        router,
        store,
        vuetify: new Vuetify()
    });
</script>
</body>
</html>